<% content_for(:title, '診断結果') %>
<section id="results" class="results section-bg">
  <div class="container">
    <div class="analysis-name">
      <h2><%= @user.name %>さんの診断結果</h2>
    </div>
    <div class="kojirase-level-title">
      <p><%= @result.kojirase_level_title %></p>
    </div>
      <%= render 'shared/kojirase_chart' %>
    <div class="kojirase-message">
      <ul>
        <li><%= @result.kojirase_message %></li>
        <li><%= @result.follower_message %></li>
        <li><%= @result.advice_message %></li>
      </ul>
    </div>
    <div class="prescription">
      <div class="prescription-title">
        <h1>処方箋</h1>
      </div>
        <% if @result.kojirase_level == 1 %>
          <%= render 'shared/result/kojirase_level_low' %>
        <% elsif @result.kojirase_level == 2 || @result.kojirase_level == 3 %>
          <%= render 'shared/result/kojirase_level_middle' %>
        <% else %>
          <%= render 'shared/result/kojirase_level_high' %>
        <% end %>
    </div>
  </div>
    <div class="text-center topbtn">
      <%= button_to '戻る', root_path, method: :get, class: 'btn btn-malformation shadow' %>
    </div>
</section>
