<% content_for(:title, '診断結果') %>
<section id="results" class="results section-bg">
  <div class="container">
    <div class="result-wrapper">
      <!-- 結果表示ページ -->

      <!-- 名前表示 -->
      <div class="result-name">
        <h1 class="result-name is-opacity" id="result-name"><%= @user.name %>さんの診断結果</h1>
      </div>

      <!-- こじらせレベル表示 -->
      <div class="kojirase-level-title">
        <h1 class="kojirase-level-title is-opacity" id="kojirase-level-title"><%= @kojirase_result.name %></h1>
      </div>


      <!-- グラフ表示 -->
        <%= render 'shared/kojirase_chart' %>

      <!-- こじらせメッセージ -->
      <div class="kojirase-message">
        <ul>
          <li class="kojirase-message is-opacity" id="kojirase-message"><%= @kojirase_result.description %></li>
          <li class="follower-message is-opacity" id="follower-message"><%= @follower_saying.message %></li>
          <li class="advice-message is-opacity" id="advice-message"><%= @kojirase_result.advice %></li>
        </ul>
      </div>

      <!-- 処方箋 -->
      <div class="prescription">
        <h1 class="prescription-label is-opacity" id="prescription-label">処方箋</h1>
          <%= render 'shared/youtube' %>
      </div>
    </div>
  </div>

  <div class="text-center back-btn">
    <%= button_to 'トップへ戻る', root_path, method: :get, class: 'btn btn-malformation shadow' %>
  </div>

  <div class='twitter-button'>
    <%= link_to "https://twitter.com/share?&url=https://kojirase-shindan.com/&text=【#{@user.name}】さんは【#{@kojirase_result.name}】です。&hashtags=こじらせ診断,婚活,メンヘラ,恋愛&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer' do %>
      <i class="fab fa-twitter share-button"></i>
    <% end %>
  </div>
</section>
