<div class="mb-5 mt-5">
  <h1>診断結果</h1>
  <p><%= @user.name %>さん</p>
  <p>フォロワー度<%= @follower_point %></p>
  <p>アポ度<%= @apo_point %></p>
  <p>高望み度<%= @spec_point %></p>
  <p>4℃度<%= @present_point%></p>
  <p>沼度<%= @numa_point %></p>
  <%= button_to '戻る', root_path, method: :get, class: 'back-button' %>
</div>
