<h2>重症なので猫を飼い、心を落ち着けましょう</h2>
  <div class="card-group">
    <div class="card">
      <%= image_tag 'cat1.jpeg', class: 'card-img-top' %>
      <div class="card-body">
        <div class="card-text">
          <p><%= link_to "マンチカン2022/02/06（2ヶ月）生まれの女の子です。毛色はキャリコです。P's-first恵比寿店にいます。お問い合わせお待ちしております。", "https://pfirst.jp/?act=SearchResult&ID=442816" %></p>
        </div>
      </div>
    </div>

    <div class="card">
      <%= image_tag 'cat2.jpeg', class: 'card-img-top' %>
      <div class="card-body">
        <div class="card-text">
          <p><%= link_to "ラガマフィン2022/02/05（2ヶ月）生まれの男の子です。毛色はブルーホワイトです。P's-first吉祥寺サンロード店にいます。お問い合わせお待ちしております。", "https://pfirst.jp/?act=SearchResult&ID=442431" %></p>
        </div>
      </div>
    </div>

    <div class="card">
      <%= image_tag 'cat3.jpeg', class: 'card-img-top' %>
      <div class="card-body">
        <div class="card-text">
          <p><%= link_to "ミヌエット2022/01/28（3ヶ月）生まれの女の子です。毛色はブラウンタビーです。P's-first麻布十番店にいます。お問い合わせお待ちしております。", "https://pfirst.jp/?act=SearchResult&ID=441816" %></p>
        </div>
      </div>
    </div>
  </div>
